.footer{
    margin: 94px 70px 40px;
    padding-top: 32px;
    border-top: 1px solid #BEC0BF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #1D2130;
    font-family: "Inter", sans-serif;
    .social{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        .goToSocial{
            padding: 0 6px;
            text-align: center;
            text-decoration: none;
            color: #fff;
            background-color: #7DE0EA;
            border-radius: 50%;
            svg{
                width: 12px;
                height: 12px;
            }
        }
    }
}

@media screen and (max-width : 992px){
    .footer{
        margin: 47px 30px 20px;
        flex-direction: column;
    }
}